.nav-bar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(201, 118, 9);
    top: 0;
    height: 38px;
    position: -webkit-sticky;
    position: sticky;
}

.sticky {
    top: 0;
    position: fixed;
}

.nav-bar__label {
    color: #fff;
    display: block;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: inherit;
    cursor: pointer;
    width: auto;
    margin-right: 20px;
    float: right;
}

.nav-bar__label::after{
    content: " +";
}

.nav-bar__list {
    background-color: rgb(201, 118, 9);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.nav-bar__list, [id^="toggle"] {
    display: none;
}

[id^="toggle"]:checked + .nav-bar__list {
    display: inline-block;
}

.nav-bar__item {
    display: inline-block;    
    text-transform: uppercase;
    font-weight: bold;
}
.nav-bar__list-item {
    display: block;
}

.nav-bar__link{
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    word-wrap: break-word;
}

.nav-bar__list-item .nav-bar__list-item .nav-bar__link,
.nav-bar__list-item .nav-bar__list-item {
    padding: 10px 10px 10px 30px;
}

.nav-bar__link:hover,
.nav-bar__link:active :hover {
    background: #666;
}

@media all and (min-width : 900px) {
    .nav-bar {
        text-align: center;
    }
    .nav-bar > .nav-bar__label {
        display: none;
    }

    .nav-bar > .nav-bar__list {
        display: inline-block;
        width: auto;
    }

    .nav-bar > .nav-bar__list > .nav-bar__list-item {
        display: inline-block;
        position: relative;
    }

    .nav-bar__list-item .nav-bar__list {
        position: absolute;
    }

    .nav-bar__list-item .nav-bar__list-item .nav-bar__link,
    .nav-bar__list-item .nav-bar__list-item {
        padding: 10px 20px;
    }
}