@import '../config/_config.scss';

.sticky {
    top: 0;
    position: fixed;
}

.navigation_bar {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $main;
    top: 0;
    height: 38px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;

    &_label {
        color: #fff;
        display: block;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
        width: inherit;
        cursor: pointer;
        width: auto;
        margin-right: 20px;
        float: right;

        &_down {
            border: solid white;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 3px;
            margin-bottom: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }

    &_list {
        background-color: $main;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        &_item {
            display: block;
        }
    }

    &_list,  [id^='toggle'] {
        display: none;
    }
    
    [id^='toggle']:checked + &_list {
        display: inline-block;
    }

    &_item {
        display: inline-block;    
        text-transform: uppercase;
        font-weight: bold;
    }

    &_link {
        color: #fff;
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        word-wrap: break-word;
        transition: all 200ms ease-in;
    }
    &_list_item &_list_item &_link,
    &_list_item &_list_item {
        padding: 10px 10px 10px 30px;
    }

    &_link:hover,
    &_link:active:hover {
        background: $light;
        color: $darkBrown;
    }
}

@media all and (min-width : 900px) {
    .navigation_bar {
        text-align: center;
        &_label {
            display: none;
        }

        &_list {
            display: inline-block;
            width: auto;
            &_item {
                display: inline-block;
                position: relative;
            }
        }
        &_list_item &_list {
            position: absolute;
        }
        &_list_item &_list_item &_link,
        &_list_item &_list_item {
            padding: 10px 20px;
        }
    }
}