<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <title>front-end-BEM</title>
        <link rel="stylesheet" href="../bundles/css-bundle/bundle.min.css">
    </head>

    <body>
        <!-- START HEADER -->
        <header>
            <img src="../assets/img/icons/logo.png" alt="Doggo" height="50" width="50" class="logo">
            <img src="../assets/img/icons/logo.png" alt="Doggo" height="30" width="30" class="">
            <span>teste</span>
        </header>
        <!-- END HEADER -->
        dasdad
    </body>

</html>