.logo {
    width: 56px;
    height: 56px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
}

span {
    width: 120px;
    height: 20px;
    display: block;
    padding: 15px 0px;
    color: black;
    font-family: 'Advent Pro', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
}