span {
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    display: block;
}

svg {
    height: 40px;
    width: 40px;
    margin: .5em;
}

header {
    z-index: 10;
    width: 100%;
    height: 70px;
    background-color: white;
    -webkit-box-shadow:  0px 0px 5px rgba(204, 204, 204, 0.6);
    box-shadow: 0px 0px 5px rgba(204, 204, 204, 0.6);
}

.header__logo {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
}

.header__button {
    background-color: white;
    padding: .4em 1em;
    height: 100%;
}

.header__button, 
.header__button-text-left,
.header__button-text-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__button-phone {
    display: none;
}

.header__button-position-right, 
.header__button-position-left{
    border: none;
}

.header__button-position-left {
    float: left;
    border-right: thin solid silver;
}

.header__button-position-right {
    float: right;
    border-left: thin solid silver;
}

.header__button-text-left[button-text-mobile]::after,
.header__button-text-right[button-text-mobile]::after {
    content: attr(button-text-mobile);
}

@media all and (min-width : 768px) {
    .header__button, 
    .header__button-text-left,
    .header__button-text-right{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .header__button-text-left[button-text]::after {
        content: attr(button-text);
    }

    .header__button-text-right[button-text]::before  {
        content: attr(button-text);
    }
    .header__button-text-right[button-text]::after  {
        content: '';
    }

    .header__button_phone {
        display: flex;
    }
    
    .header__button-phone,
    .header__button-position-right {
        border: none;
    }
}