span {
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    display: block;
}

svg {
    height: 40px;
    width: 40px;
    margin: .5em;
}

header {
    font-family: 'Roboto', sans-serif;
    z-index: 10;
    width: 100%;
    height: 70px;
    background-color: white;
    -webkit-box-shadow:  0px 0px 5px rgba(204, 204, 204, 0.6);
    box-shadow: 0px 0px 5px rgba(204, 204, 204, 0.6);
}

.header_logo {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
}

.header_button {
    background-color: white;
    padding: .4em 1em;
    height: 100%;
    &_positionLeft, &_positionRight {
        border: none;
    }
    &_positionLeft {
        float: left;
        border-right: thin solid silver;
    }
    &_positionRight {
        float: right;
        border-left: thin solid silver;
    }

    &_textLeft, &_textRight, & {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_textLeft[button_text-mobile]:after,
    &_textRight[button_text-mobile]:after {
        content: attr(button_text-mobile);
    }

    &_icon {
        height: 30px;
        width: 30px;
        margin: 0.5em;
    }
    
    &_phone {
        display: none;
    }
}

@media all and (min-width : 768px) {
    .header_button {
        &_textLeft, &_textRight, & {
            flex-direction: row;
        }
        &_textLeft[button_text]:after {
            content: attr(button_text);
        }

        &_textRight[button_text]:before  {
            content: attr(button_text);
        }

        &_textRight[button_text]:after {
            content: '';
        }

        &_phone {
            display: flex;
        }

        &_phone, &_positionRight {
            border: none;
        }
    }
}