@import '../config/_config.scss';

.footer_contact,
.footer_navigation,
.footer_social,
.footer_copyrights{
    display: none;
}

.footer_contact_mobile,
.footer_navigation_mobile,
.footer_cards_mobile,
.footer_social_mobile,
.footer_copyrights_mobile, {
    width: 100%;
    padding: 0.5em 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.footer_contact_mobile {
    background-color: $light;
    text-align: center;
    &_grid {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 135px 50px 55px 70px;
    }
}

.footer_contact_container,
.footer_social_container {
    display: inline-block;
    text-align: center;
}

.footer_contact_button {
    background: none;
    border: none;
    &_horizontal_grid {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 30px 130px;
        color: $darkBrown;
    }
    &_horizontal_img {
        grid-column: 1 ;
        grid-row: 1 / span 2;
    }
    &_vertical_grid {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 50px;
        color: $darkBrown;
    }
    &_container {
        display: inline-block;
    }
}

.footer_contact_icon {
    height: 30px;
    width: 30px;
}

.footer_contact_text {
    font-size: 10px;
    text-align: start;
    &-vertical {
        text-align: center;
    }

    &_online:before,
    &_offline:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 3px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
    }

    &_online:before {
        background-color: green;
    }

    &_offline:before {
        background-color: red;
    }
}

.footer_contact_phone_container {
    display: flex;
    flex-direction: row;
    text-align: initial;
}

.footer_contact_phone_text_container {
    margin-left: 5px;
}

.footer_contact_phone_text_title {
    text-align: start;
    font-size: 14px;
    text-decoration: underline;
}

.footer_navigation_mobile {
    background-color: $main;
}

.footer_navigation_container {
    padding: 0 1em;
    text-align: center;
}

.footer_navigation_text,
.footer_navigation_firstText {
    display: inline;
    text-decoration: none;
    color: $darkBrown;
}
.footer_navigation_text:before {
    content: '| '
}

.footer_cards_mobile {
    background-color: $darkBrown;
}

.footer_card_container {
    display: inline-block;
    margin: 0 0.5em;
    background-color: $socialColorBackground;
    width: 70px;
    border-radius: 3px;
    .footer_card_icon {
        padding-top: 5px;
    }
}

.footer_social_mobile {
    overflow: hidden;
    background-color: $darkBrown;
    border-bottom: thin rgba(255,255,255, 0.5) solid;
    border-top: thin rgba(255,255,255, 0.5) solid;
    a {
        text-decoration: none;
    }
    svg {
        width: 40px;
        height: 40px;
        background-color: $socialColorBackground;
        fill: $darkBrown;
        border-radius: 20px;
        margin: 0 0.25em;
    }
}

.footer_copyrights_mobile {
    font-size: 10px;
    color: $light;
    background-color: $darkBrown;
}
.footer_copyrights_text {
    padding-top: 0.25em;
}
.footer_copyrights_message {
    display: inline-block;
}
.footer_copyrights_heart:before {
    content:'\2665';
    opacity: 0.5;
}
.footer_copyrights_copyrights:before {
    content:'\00a9';
}
.footer_icons_copyrights {
    padding-top: 1em;
    a {
        text-decoration: none;
        color: $light;
    }
    padding-bottom: 0.5em;
}

@media all and (min-width : 768px) {
    .footer_contact_mobile,
    .footer_navigation_mobile,
    .footer_cards_mobile,
    .footer_social_mobile,
    .footer_copyrights_mobile {
        display: none;
    }

    .footer_contact, 
    .footer_navigation, 
    .footer_social {
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 0.75em 0.5em;
    }

    .footer_contact {
        background-color: $light;
        &_text {
            font-size: 9px;
        }
    }

    .footer_navigation {
        background-color: $main;
        border-bottom: thin rgba(255,255,255, 0.5) solid;
    }
    .footer_navigation_list {
        list-style: none;
        display: inline-block;
        &_header {
            color: white;
            font-weight: bold;
            font: 1em 'Oswald', sans-serif;
            margin: 0; 
        }
        &_item {
            font: 0.6em 'Open Sans', sans-serif;
            text-decoration: none;
            color: white;
            &:visited {
                color: $darkBrown;
            }
        }
    }

    .footer_navigation_list > li {
        text-align: left;
        padding-bottom: 5px;
    }

    .footer_social{
        background-color: $main;

        &_grid {
            display: grid;
            grid-template-columns: 260px;
            grid-gap: 10px;
            color: white;
            & a{
                text-decoration: none;
            }
            & svg {
                fill: $darkBrown;
                margin: 0;
            }
        }

        &_container_icons {
            display: inline-block;
            text-align: start;
        }
        
        &_title {
            text-align: start;
        }
        
        &_facebook_likes {
            line-height: 2.5;
            color: white;
        }

        &_grid {
            &_prize {
                display: grid;
                column-gap: 20px;
                row-gap: 10px;
                color: white;
                grid-template-columns: 50px 150px;
                grid-template-areas:
                'header header'
                'icon content';
            }
            &_header {
                grid-area: header;
                text-align: start;
            }
            &_icon {
                grid-area: icon;
            }
            &_content {
                grid-area: content;
                position: relative;
                line-height: 3;
            }
        }
    }

    .footer_copyrights {
        font-size: 10px;
        color: $light;
        background-color: $darkBrown;
        text-align: center;
        display: block;
        width: 100%;
        padding: 1em 0.5em;
        &_text {
            display: inline-block;
            margin: 0 1em;
        }
    }

    .footer_cards {
        display: inline-block;
    }
}

@media all and (max-width : 390px) {
    .footer_contact_icon {
        height: 20px;
        width: 20px;
    }

    .footer_contact_text {
        font-size: 8px;
        &_online:before,
        &_offline:before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            margin-right: 3px;
            -moz-border-radius: 7.5px;
            -webkit-border-radius: 7.5px;
            border-radius: 7.5px;
        }
    }

    .footer_contact_mobile_grid {
        column-gap: 0;
    }
}