$socialColorBackground: white;
$paymentCardsBackground: white;
$darkBrown:rgb(153, 88, 4);
$brown:rgb(199, 118, 13);
$lightBrown: rgb(255, 166, 0);

.footer_contact_mobile,
.footer_navigation_mobile,
.footer_cards_mobile,
.footer_social_mobile,
.footer_copyrights_mobile, {
    width: 100%;
    padding: 0.5em 0;
    text-align: center;
}

.footer_contact_mobile {
    background-color: $lightBrown;
}

.footer_contact_button-container{
    display: inline-block;
}

.footer_contact_button {
    background: none;
    border: none;
}

.footer_contact_icon {
    height: 20px;
    width: 20px;
}

.footer_contact_text {
    font-size: 10px;
}

.footer_contact_text_online:before,
.footer_contact_text_offline:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
}

.footer_contact_text_online:before {
    background-color: green;
}
.footer_contact_text_offline:before {
    background-color: red;
}
.footer_contact_phone-container {
    display: flex;
    flex-direction: row;
    text-align: initial;
}
.footer_contact_phone_text-container {
    margin-left: 5px;
}
.footer_contact_phone-text {
    text-align: start;
}
.footer_navigation_mobile {
    background-color: $brown;
}

.footer_navigation_container {
    padding: 0 1em;
    text-align: center;
}

.footer_navigation_text,
.footer_navigation_firstText {
    display: inline;
    text-decoration: none;
    color: white;
}
.footer_navigation_text:before {
    content: "| "
}

.footer_cards_mobile {
    background-color: $darkBrown;
}

.footer_card_container {
    display: inline-block;
    margin: 0 0.5em;
    background-color: $socialColorBackground;
    width: 70px;
    border-radius: 3px;
    .footer_card_icon {
        padding-top: 5px;
    }
}

.footer_social_mobile {
    overflow: hidden;
    background-color: $darkBrown;
    border-bottom: thin rgba(255,255,255, 0.5) solid;
    border-top: thin rgba(255,255,255, 0.5) solid;
    a {
        text-decoration: none;
    }
    svg {
        width: 40px;
        height: 40px;
        background-color: $socialColorBackground;
        fill: $darkBrown;
        border-radius: 20px;
        margin: 0 0.25em;
    }
}

.footer_copyrights_mobile {
    font-size: 10px;
    color: white;
    background-color: $darkBrown;
}
.footer_copyrights_text {
    padding-top: 0.25em;
}
.footer_copyrights_message {
    display: inline-block;
}
.footer_copyrights_heart:before {
    content:'\2665';
    opacity: 0.5;
}
.footer_copyrights_copyrights:before {
    content:"\00a9";
}
.footer_icons_copyrights {
    padding-top: 1em;
    a {
        text-decoration: none;
        color: white;
    }
    padding-bottom: 0.5em;
}
